<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Myweb</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid px-0 py-0">
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
       <div class="container-fluid">
           <img src="static/logo.png" height=60 width=60>
         <a class="navbar-brand"><b>Myweb</b></a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="home">Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="about">About us</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="contact">Contact us</a>
             </li>
          </div>
       </div>
         
     </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" ></script>
<h2 class="display-6 text-center mt-6 pb-3">About us</h2>
<div class="container-fluid text-center">
    <img src="static/logo.png" class="text-center" alt="img.."><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum itaque facilis rem voluptas iure ad minima, optio laudantium, dolores consequuntur similique amet repellat vitae tempore tempora praesentium adipisci nemo explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores saepe voluptates, nobis numquam perferendis quas sint reprehenderit quisquam omnis officiis magni dignissimos cum explicabo! Qui mollitia eum porro fugiat officia?</h3>
</div>
</div>
{%include "footer.html"%}
</body>
</html>